<div class="container-fluid navbar-fixed-bottom footer">
    <div class="text-center">
        <span>&copy; </span>
        <span><a href="https://github.com/lifei6671/go-git-webhook" target="_blank">Go GitWebHook</a> </span>
        <span>版权所有</span>
    </div>
</div>
<script src="/static/bootstrap/js/bootstrap.js" type="text/javascript"></script>
<script src="/static/codemirror/lib/codemirror.js" type="text/javascript"></script>
<script src="/static/codemirror/addon/edit/matchbrackets.js" type="text/javascript"></script>
<script src="/static/js/shell.js" type="text/javascript"></script>
<script src="/static/js/global.js" type="text/javascript"></script>