<div class="container-fluid navbar-fixed-bottom footer">
    <div class="text-center">
        <span><a href="https://hook.iminho.me" target="_blank">SmartWebHook</a> </span>
        <span style="display: inline-block;padding: 0 5px;"> · </span>
        <span><a href="https://github.com/lifei6671/go-git-webhook/issues" target="_blank">意见反馈</a> </span>
        <span style="display: inline-block;padding: 0 5px;"> · </span>
        <span><a href="https://github.com/lifei6671/go-git-webhook" target="_blank">GitHub</a> </span>

    </div>
</div>
<script src="/static/bootstrap/js/bootstrap.js" type="text/javascript"></script>
<script src="/static/codemirror/lib/codemirror.js" type="text/javascript"></script>
<script src="/static/codemirror/addon/edit/matchbrackets.js" type="text/javascript"></script>
<script src="/static/js/shell.js" type="text/javascript"></script>
<script src="/static/js/global.js" type="text/javascript"></script>