@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin);
body{
    background: #E5E5E5;
    font-family:'Lato', 'Helvetica Neue', 'Microsoft Yahei', Arial, Helvetica, sans-serif,"宋体" !important;
    scrollbar-face-color: #3f3f3f; /*ie立体滚动条的颜色*/
    scrollbar-track-color: #ccc; /*图7,立体滚动条背景颜色*/
}
/*webkit滚动条滚动条整体部分*/
::-webkit-scrollbar{
    width: 8px;
    background: #ccc;
}
/*webkit滚动条里面可以拖动的那部分*/
::-webkit-scrollbar-thumb  {
    background:#3f3f3f;
}
.text{
    font-size: 12px;
    font-weight: normal;
}
label{
    font-weight: 600 !important;
    font-size: 13px;
}
.error-message{
    color: red !important;
}
.table > tbody > tr > td {
    vertical-align: inherit;
}
.tooltip{
    font-weight: 200 !important;
}
.CodeMirror { height: 250px; border: 1px solid #ddd; font-family: "Courier New", 'Source Sans Pro', Helvetica, Arial, sans-serif !important;font-size: 12px !important;}

/***头部导航条样式***/
.bs-docs-nav {
    margin-bottom: 0;
    background-color: #1B1C1D;
    border-bottom: 0;
    color: #ffffff;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
    box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
    box-sizing: border-box;
}

.bs-docs-nav .navbar-brand,
.bs-docs-nav .navbar-nav > li > a {
    font-weight: 500;
    color: #ffffff;
}
.bs-docs-nav .navbar-nav > li > a:hover,
.bs-docs-nav .navbar-nav > .active > a,
.bs-docs-nav .navbar-nav > .active > a:hover {
    color: #463265;
    background-color: #f9f9f9;
}

/***中间部分***/
.bs-docs-container{
    position: relative;
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 70px auto 40px auto;
    padding: 0 15px;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}
.body-botton{
    padding-bottom: 15px;
}

/****底部样式***/
.footer{
    background: #1B1C1D;
    color: #ffffff;
    padding: 10px 0;
    font-size: 13px;
}

/*******/
.login-body{
    width: 350px;
    margin: 15px auto;
    padding-top: 60px;
    min-height: 450px;
}

@media (min-width : 1400px) {
    .login-body{
        padding-top: 120px;
        min-height: 620px;
    }
}
.login-body h1{
    font-size: 20px;
    font-weight: 700;
    letter-spacing:normal;
    line-height: 28px;
}
.login-body .form-group{
    margin: 15px auto;
}