body{
    background: #E5E5E5;
    font-family:-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif,"宋体" !important;
}
/***头部导航条样式***/
.bs-docs-nav {
    margin-bottom: 0;
    background-color: #1B1C1D;
    border-bottom: 0;
    color: #ffffff;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}

.bs-docs-nav .navbar-brand,
.bs-docs-nav .navbar-nav > li > a {
    font-weight: 500;
    color: #ffffff;
}
.bs-docs-nav .navbar-nav > li > a:hover,
.bs-docs-nav .navbar-nav > .active > a,
.bs-docs-nav .navbar-nav > .active > a:hover {
    color: #463265;
    background-color: #f9f9f9;
}

/***中间部分***/
.bs-docs-container{
    position: relative;
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 15px auto;
    padding: 0 15px;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}
.body-botton{
    padding-bottom: 15px;
}

/****底部样式***/
.footer{
    background: #1B1C1D;
    color: #ffffff;
    padding: 10px 0;
    font-size: 13px;
}

/*******/
.login-body{
    width: 350px;
    margin: 15px auto;
    padding-top: 120px;
    min-height: 620px;
}
.login-body h1{
    font-size: 20px;
    font-weight: 700;
    letter-spacing:normal;
    line-height: 28px;
}
.login-body .form-group{
    margin: 15px auto;
}