<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go GitWebHook List - GitWebHook</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <script src="/static/js/jquery-1.12.4.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.form.js" type="text/javascript"></script>
</head>
<body>
{{template "widgets/head.html" .}}
<div class="container">
    <div class="bs-docs-container">
        <div class="title">
            <h3>WebHook List</h3>
            <hr>
        </div>
        <div class="body">
            <table class="table table-condensed">
                <thead>
                <tr><th width="5%">#</th><th width="15%">Repo</th><th>Shell</th><th width="15%">Server</th><th width="10%">LastHook</th><th width="10%">Status</th><th width="15%">Operate</th></tr>
                </thead>
            </table>
        </div>
        <div class="body-botton text-center">
            <button class="btn btn-success btn-sm" id="addWebHookBtn">添加新的 Git WebHook</button>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="webHookModal" tabindex="-1" role="dialog" aria-labelledby="webHookModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form method="post" id="webHookForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="webHookTitle">New WebHook</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Git Repository</label>
                                    <input type="text" name="name" id="repositoryName" placeholder="Repository Name" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Branch</label>
                                    <input type="text" name="branch" id="repositoryBranch" placeholder="Repository Branch" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Server Tag <a href="###" data-toggle="tooltip" title="请填写Server对应的Tag，系统会自动匹配Server"><i class="fa fa-question" aria-hidden="true"></i></a></label>
                                    <input type="text" name="tag" id="serverTag" placeholder="Server Tag" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Callback Shell Script <a href="###"><i class="fa fa-question" aria-hidden="true"></i></a></label>
                                <textarea name="shell" id="shellScript" class="form-control" style="height: 200px;resize: none"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{template "widgets/foot.html" .}}
<script src="/static/bootstrap/js/bootstrap.js" type="text/javascript"></script>
<script src="/static/js/global.js" type="text/javascript"></script>
</body>
</html>